<template>
    <v-layout row wrap>
        <v-flex md6 xs12 offset-md3 class="mt-2">
            <v-card>
                <v-card-text>
                    <v-form v-model="valid" ref="form" lazy-validation>
                        <v-text-field
                                name="email"
                                label="E-mail"
                                v-model="email"
                                type="text"
                                :rules="emailRules"
                                required
                        ></v-text-field>
                        <v-text-field
                                name="password"
                                label="Password"
                                id="password"
                                type="password"
                                v-model="password"
                                required
                        ></v-text-field>
                        <v-spacer></v-spacer>
                        <v-btn
                                @click="login"
                                :disabled="!valid"
                        >
                            Login
                        </v-btn>
                    </v-form>
                    <p>Don't have an account? <router-link to="/signup" tag="span" class="blue--text" style="cursor: pointer; text-decoration: underline" >Sign up</router-link></p>
                    <router-link to="/signup" tag="span" style="cursor: pointer; text-decoration: underline" class="blue--text" >Forgot password?</router-link>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
    export default {
      data: () => {
        return {
          valid: false,
          email: '',
          emailRules: [
            (v) => !!v || 'E-mail is required',
            (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(.\w{2,3})+$/.test(v) || 'E-mail must be valid'
          ],
          password: ''
        }
      },
      computed: {
        user () {
          return this.$store.getters.user
        }
      },
      methods: {
        login () {
          this.$store.dispatch('onLoginUser', { email: this.email, password: this.password })
        }
      },
      watch: {
        user (value) {
          if (value !== null && value !== undefined) {
            this.$router.push('/')
          }
        }
      }
    }
</script>