<template>
    <v-layout row wrap>
        <v-flex md6 xs12 offset-md3 class="mt-2">
            <v-card>
                <v-card-text>
                    <v-form v-model="valid" ref="form" lazy-validation>
                        <v-text-field
                                label="Name"
                                name="name"
                                type="text"
                                v-model="name"
                                :rules="nameRules"
                                required
                        ></v-text-field>
                        <v-text-field
                                label="E-mail"
                                name="email"
                                type="email"
                                v-model="email"
                                :rules="emailRules"
                                required
                        ></v-text-field>
                        <v-text-field
                                label="Phone Number"
                                name="phone_number"
                                type="text"
                                v-model="phoneNumber"
                        ></v-text-field>
                        <v-text-field
                                label="Password"
                                name="password"
                                type="password"
                                v-model="password"
                                required
                        ></v-text-field>
                        <v-text-field
                                label="Confirm Password"
                                name="confirmPassword"
                                type="password"
                                v-model="confirmPassword"
                                :rules="passwordRules"
                                required
                        ></v-text-field>
                        <v-btn
                                @click="register"
                                :disabled="!valid"
                        >
                            Register
                        </v-btn>
                    </v-form>
                    <p>Aleardy have an account?
                        <router-link class="blue--text" to="/login" tag="span" style="cursor: pointer; text-decoration: underline" >Login</router-link>
                    </p>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
    export default {
      data: () => {
        return {
          valid: false,
          name: '',
          nameRules: [
            (v) => !!v || 'Name is required'
          ],
          email: '',
          emailRules: [
            (v) => !!v || 'E-mail is required',
            (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(.\w{2,3})+$/.test(v) || 'E-mail must be valid'
          ],
          phoneNumber: '',
          password: '',
          passwordRules: [
            (v) => (v && v !== this.password) || 'Password do not match'
          ],
          confirmPassword: ''
        }
      },
      computed: {
        user () {
          return this.$store.getters.user
        }
      },
      methods: {
        register () {
          this.$store.dispatch('onRegisterUser', { name: this.name, email: this.email, phone_number: this.phoneNumber, password: this.password })
        }
      },
      watch: {
        user (value) {
          if (value !== null && value !== undefined) {
            this.$router.push('/')
          }
        }
      }
    }
</script>
