<template>
  <v-app light>
    <!-- Navigation drawer -->
    <v-navigation-drawer
      app
      persistent
      temporary
      clipped
      v-model="drawer"
    >
      <v-list>
        <v-list-tile dense value="true" v-for="(item, i) in items" :key="i" router :to="item.link">
          <v-list-tile-action>
            <v-icon light v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile dense value="true" v-for="(item, i) in navItems" :key="i" router :to="item.link">
          <v-list-tile-action>
            <v-icon light v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <!-- App Toolbar -->
    <v-toolbar app fixed clipped-left>
      <v-flex md3 class="ml-0">
        <v-toolbar-side-icon class="hidden-sm-and-up" @click.native.stop="drawer = !drawer" light></v-toolbar-side-icon>
        <v-toolbar-title class="hidden-xs-only">
          <router-link  tag="span" style="cursor: pointer; text-decoration: none" v-text="title" to="/"></router-link>
        </v-toolbar-title>
      </v-flex>
      <v-flex md6 >
        <!-- Search Bar -->
        <search-bar class="hidden-xs-only"></search-bar>
      </v-flex>
      <v-spacer></v-spacer>
      <!-- Mobile Search Button -->
      <v-tooltip bottom>
        <v-btn flat icon slot="activator" class="hidden-sm-and-up">
          <v-icon>search</v-icon>
        </v-btn>
        <span>Search Event</span>
      </v-tooltip>
      <!-- Create Event Button -->
      <template v-if="isUserLogin">
        <create-event></create-event>
      </template>
      <!-- User status controls-->
      <template v-if="!isUserLogin">
        <v-tooltip bottom v-for="item in navItems" :key="item.title">
          <v-btn icon slot="activator" router :to="item.link" class="hidden-xs-only">
            <v-icon>{{ item.icon }}</v-icon>
          </v-btn>
          <span>{{ item.tooltiptext }}</span>
        </v-tooltip>
      </template>
      <!-- Options Menu -->
      <v-menu bottom left v-if="isUserLogin">
          <v-btn flat icon slot="activator">
            <v-icon>more_vert</v-icon>
          </v-btn>
        <v-list v-for="item in navItems" :key="item.title">
          <v-list-tile router :to="item.link">
            <v-list-tile-action>
              <v-icon>{{item.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>{{item.title}}</v-list-tile-title>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list >
          <v-list-tile @click="logout">
            <v-list-tile-action>
              <v-icon>exit_to_app</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <!-- Main Content -->
    <main>
      <v-content>
        <template v-if="loading">
          <loader></loader>
        </template>
        <template v-if="alert">
          <alert-messages :alert="alertMessage"></alert-messages>
        </template>
        <router-view></router-view>
      </v-content>
    </main>
    <!-- Footer -->
    <v-footer :fixed="fixed" app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  import VDivider from 'vuetify/es5/components/VDivider/VDivider'
  export default {
    components: {VDivider},
    data () {
      return {
        drawer: false,
        fixed: true,
        items: [
          { icon: 'event_note', title: 'All Events', link: '/' },
          { icon: 'more', title: 'Recently Added', link: '/' }
        ],
        title: 'SPH - Tickets',
        search: null
      }
    },
    computed: {
      isUserLogin () {
        return this.$store.getters.user !== null
      },
      navItems () {
        let navItems = [
          { title: 'Login', icon: 'lock_open', link: '/login', tooltiptext: 'Login to create event' },
          { title: 'Signup', icon: 'account_circle', link: '/signup', tooltiptext: 'Create event organiser account' }
        ]
        if (this.isUserLogin) {
          navItems = [
            { title: 'Dashboard', icon: 'dashboard', link: '/dashboard', tooltiptext: 'Dashboard' }
          ]
        }
        return navItems
      },
      loading () {
        return this.$store.getters.loading
      },
      alert () {
        return this.$store.getters.alert !== null
      },
      alertMessage () {
        return this.$store.getters.alert
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('onLogout')
      }
    }
  }
</script>
<style type="text/css" scope>
  .toolbar__title{
    overflow: initial;
  }
</style>