<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" transition="dialog-bottom-transition" max-width="400px" :overlay=false>
        <v-btn dark class="primary"
               slot="activator"
               transtion="true"
               fab
               hover
               fixed
               bottom
               right >
            <v-icon>receipt</v-icon>
        </v-btn>
      <v-card>
        <v-card-title>
          <span class="headline">Buy Ticket</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <form id="buyTicketForm" @submit.prevent="onBuyTicket">
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field label="Phone Number"
                                id="phone_number"
                                name="phone_number"
                                type="text"
                                placeholder="254720123456"
                                v-model="phoneNumber"
                                required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field label="Email"
                                id="email"
                                name="email"
                                type="email"
                                v-model="email"
                                required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-select
                          label="Tickets"
                          required
                          v-model="numberOfTickets"
                          value="1"
                          :items="['1', '2', '3', '4', '5']"
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field label="Total: (KES)" v-model="total" disabled></v-text-field>
                </v-flex>
              </v-layout>
            </form>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn error flat @click.native="dialog = false">Close</v-btn>
          <v-btn success type="submit" form="buyTicketForm" flat @click.native="loader = 'isloading'" >Pay</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
  import VTextField from 'vuetify/es5/components/VTextField/VTextField'

  export default {
    components: {VTextField},
    props: ['event'],
    data: () => {
      return {
        dialog: false,
        numberOfTickets: 1,
        phoneNumber: '',
        email: ''
      }
    },
    computed: {
      total () {
        return this.event.charges * this.numberOfTickets
      },
      loading () {
        return this.$store.getters.loading()
      }
    },
    methods: {
      onBuyTicket () {
        this.dialog = false
        var data = {
          phoneNumber: this.phoneNumber,
          email: this.email,
          amount: this.total,
          numberOfTickets: this.numberOfTickets,
          eventId: this.event.id
        }
        this.$store.dispatch('onPayForTickets', data)
      }
    }
  }
</script>
<style scope>
  
</style>