<template>
  <div row justify-center>
    <v-dialog v-model="dialog" fullscreen transition="dialog-bottom-transition" :overlay=false>
        <!-- Round Create Event Button -->
        <v-btn round info slot="activator" transtion="true" class="hidden-xs-only white--text">
          <v-icon left dark>playlist_add</v-icon>
          New Event
        </v-btn>
        <!-- Mobile Create Event Button -->
        <v-btn flat icon slot="activator" class="hidden-sm-and-up">
          <v-icon>playlist_add</v-icon>
        </v-btn>
      <v-card>
        <v-toolbar dark fixed color="primary">
          <v-btn icon @click.native="dialog = false" dark>
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>New Event</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat @click="createNewEvent" :disabled="!isFormValid">Save</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-layout row wrap class="mt-5">
          <v-flex md6 xs12 offset-md3 class="mt-4">
            <v-card>
              <v-form v-model="valid">
              <v-card-text>
                <v-text-field
                        label="Title"
                        id="title"
                        name="title"
                        type="text"
                        v-model="title"
                        :counter="15"
                        required
                ></v-text-field>
                <v-layout row wrap>
                  <v-flex  md6 sm12 xs12>
                    <v-text-field
                            label="Location"
                            id="location"
                            name="location"
                            type="text"
                            v-model="location"
                            :counter="15"
                            required
                    ></v-text-field>
                  </v-flex>
                  <v-flex md5 sm12 xs12 offset-md1>
                    <v-text-field
                            label="Ticket Charges"
                            id="charges"
                            name="charges"
                            type="number"
                            v-model="charges"
                            required
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex md6 sm12>
                    <v-menu
                            lazy
                            :close-on-content-click="false"
                            v-model="date_menu"
                            transition="scale-transition"
                            offset-y
                            full-width
                            :nudge-left="40"
                            max-width="290px"
                    >
                      <v-text-field
                              slot="activator"
                              label="When"
                              v-model="date"
                              prepend-icon="event"
                              readonly
                      ></v-text-field>
                      <v-date-picker v-model="date" no-title scrollable actions>
                        <template scope="{ save, cancel }">
                          <v-card-actions>
                            <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                            <v-btn flat primary @click.native="save()">Save</v-btn>
                          </v-card-actions>
                        </template>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex md6 sm12>
                    <v-menu
                            lazy
                            :close-on-content-click="false"
                            v-model="time_menu"
                            transition="scale-transition"
                            offset-y
                            full-width
                            :nudge-left="40"
                            max-width="290px"
                    >
                      <v-text-field
                              slot="activator"
                              label="From?"
                              v-model="time"
                              prepend-icon="event"
                              readonly
                      ></v-text-field>
                      <v-time-picker v-model="time" no-title scrollable actions>
                        <template scope="{ save, cancel }">
                          <v-card-actions>
                            <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                            <v-btn flat primary @click.native="save()">Save</v-btn>
                          </v-card-actions>
                        </template>
                      </v-time-picker>
                    </v-menu>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-btn @click.native="onPickFile"
                           class="blue-grey white--text">
                      Select Image
                      <v-icon right dark>add_a_photo</v-icon>
                    </v-btn>
                    <input type="file"
                           style="display: none;"
                           ref="fileInput"
                           @change="onPickedFile">
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 >
                    <img :src="image" height="200">
                  </v-flex>
                </v-layout>
                <v-text-field
                        name="description"
                        label="Description"
                        id="description"
                        v-model="description"
                        required
                        multi-line
                ></v-text-field>
              </v-card-text>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>        
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  export default {
    data: () => {
      return {
        dialog: false,
        title: '',
        description: '',
        charges: '',
        location: '',
        imageUrl: '',
        image: null,
        date: null,
        time: null,
        time_menu: false,
        date_menu: false
      }
    },
    computed: {
      isFormValid () {
        return this.title !== '' &&
                this.location !== '' &&
                this.charges !== '' &&
                this.description !== '' &&
                this.image !== null
      },
      submitableDate () {
        const date = new Date(this.date)
        if (typeof this.time === 'string') {
          const hours = this.time.match(/^(\d+)/)[1]
          const minutes = this.time.match(/:(\d+)/)[1]
          date.setHours(hours)
          date.setMinutes(minutes)
        } else {
          date.setHours(this.time.getHours())
          date.setMinutes(this.time.getMinutes())
        }
        return date
      }
    },
    methods: {
      onPickedFile (event) {
        const files = event.target.files
        let filename = files[0].name
        if (filename.lastIndexOf('.') <= 0) {
          return alert('Please add a valid file.')
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.image = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.imageUrl = files[0]
      },
      onPickFile () {
        this.$refs.fileInput.click()
      },
      createNewEvent () {
        if (this.isformValid) {
          return
        }
        this.dialog = false
        var eventDate = this.submitableDate
        let event = { title: this.title, description: this.description, ticket_charges: this.charges, location: this.location, image: this.image, event_date: eventDate }
        this.$store.dispatch('onCreateNewEvent', event)
      }
    }
  }
</script>
<style scope>
  
</style>