<template>
    <div>
        <v-layout row justify-center>
            <!--<v-btn color="primary" dark @click.stop="dialog2 = true">Open Dialog 2</v-btn>-->
            <v-dialog v-model="passDialog" max-width="500px">
                <v-card>
                    <v-card-title>
                       Enter Password
                    </v-card-title>
                    <v-card-text>
                        <v-text-field
                                label="Password"
                                id="password"
                                name="password"
                                type="password"
                                v-model="password"
                        ></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="error" flat @click.stop="passDialog=false">Close</v-btn>
                        <v-btn color="success" dark @click.stop="onSubmitPassword" :disabled="!isPasswordValid">Submit</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </div>
</template>
<script>
    export default {
      data () {
        return {
          password: ''
        }
      },
      methods: {
        onSubmitPassword () {
          this.$store.dispatch('submitMpesaPassword', this.password)
        }
      },
      computed: {
        isPasswordValid () {
          return this.password !== '' ||
            this.password !== null ||
            this.password !== 'undefined'
        },
        passDialog () {
          return this.$store.getters.passwordDialog
        }
      }
    }
</script>