<template>
    <v-container fluid style="padding: 10px !important;">
        <v-slide-y-transition mode="out-in">
            <v-layout row wrap>
                <v-flex md6 xs12 offset-md3>
                    <v-card class="mb-3">
                        <v-card-media :src="event.src" height="450">

                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline white--text" v-text="event.title"></span>
                                        <span class="charges title white--text">KES {{event.charges}} /=</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-media>
                        <v-card-title>
                            <v-expansion-panel expand>
                                <v-expansion-panel-content>
                                    <div slot="header" class="grey--text">Read more...</div>
                                    <v-card>
                                        <v-card-text class="grey--text">{{event.description}}</v-card-text>
                                    </v-card>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-card-title>
                        <v-card-actions class="white">
                            <!--<share-like-btns></share-like-btns>-->
                            <v-flex md4>
                                <span class="subheading grey--text">Date: {{event.date}}</span>
                            </v-flex>
                            <v-flex md4>
                                <span class="subheading grey--text">From: {{event.time}}</span>
                            </v-flex>
                            <v-flex md4>
                                <span class="subheading grey--text">Venue: {{event.location}}</span>
                            </v-flex>
                        </v-card-actions>
                    </v-card>
                    <template v-if="userIsCreator">
                        <edit-event></edit-event>
                    </template>
                    <template v-else>
                        <buy-ticket :event="event"></buy-ticket>
                    </template>
                    <enter-password></enter-password>
                </v-flex>
            </v-layout>
        </v-slide-y-transition>
    </v-container>
</template>
<script>
  import ShareLikeBtns from '../partials/ShareLikeBtns.vue'
  import EditEvent from '../Events/EditEvent.vue'
  import EnterPassword from '../Events/EnterPassword.vue'
  export default {
    components: {
      ShareLikeBtns, EditEvent, EnterPassword
    },
    props: ['id'],
    computed: {
      userIsCreator () {
        return this.$store.getters.user ? this.$store.getters.user.id === Number(this.id) : false
      },
      event () {
        return this.$store.getters.loadEvent(Number(this.id))
      }
    }
  }
</script>
<style scope>
    .charges{
        position: relative;
        float: right ;
    }
    @media screen and (max-width: 480px) {
        .charges{
            position: initial !important;
            float: none !important;
        }
    }
    .expansion-panel {
        box-shadow: none;
        /*background: transparent;*/
    }
</style>
