<template>
    <v-snackbar
            class="snackbar"
            :timeout="timeout"
            :top="y === 'top'"
            :bottom="y === 'bottom'"
            :right="x === 'right'"
            :left="x === 'left'"
            :multi-line="mode === 'multi-line'"
            :vertical="mode === 'vertical'"
            v-model="snackbar"
            :color="color"
    >
        {{ text }}
        <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
</template>
<script>
  export default {
    props: ['alert'],
    data () {
      return {
        snackbar: true,
        y: 'top',
        x: null,
        mode: 'horizontal',
        timeout: 6000,
        text: this.alert.text
      }
    },
    computed: {
      color () {
        return this.alert.status.toLowerCase()
      }
    }
  }
</script>
<style scope>
    .snackbar{
        top: 64px !important;
        z-index: 2 !important;
    }
</style>
