<template>
  <form class="form-horizontal">
    <div class="form-group">
      <i class="material-icons left grey--text" >search</i>
      <input class="form-control elevation-2" placeholder="Search coming soon..." type="text" name="">
      <i class="material-icons right grey--text">close</i>
    </div>
  </form>
</template>
<script>
  export default {
    data () {
      return {}
    }
  }
</script>
<style scoped>
  .search-container{
    width: 100%;
  }
  .form-group{
    width: 100%;
  }
  .form-control{
    width: 100%;
    background: #fff;
    border-radius: 3px;
    padding: 10px 45px;
  }
  .material-icons.right{
    position: relative;
    top: -32px;
    right: 10px; 
  }
  .material-icons.left{
    position: relative;
    bottom: -32px;
    left: 10px;
  }
</style>
