<template>
    <div>
        <v-btn icon v-for="(item, i) in buttons" :key="i">
            <v-icon>{{ item.icon }}</v-icon>
        </v-btn>
    </div>
</template>
<script>
    export default {
      data: () => {
        return {
          buttons: [
            { icon: 'favorite' },
            { icon: 'share' }
          ]
        }
      }
    }
</script>
