<template>
  <v-container fluid style="padding: 10px !important;">
      <v-slide-y-transition mode="out-in">
        <v-layout row wrap align-center>
          <v-flex md6 xs12 offset-md3 v-for="(card, i) in events" :key="i">
            <v-card class="mb-3">
              <v-card-media :src="card.src" height="350px">
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <span class="headline white--text" v-text="card.title"></span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-media>
              <v-card-actions class="white">
                <share-like-btns></share-like-btns>
                <v-spacer></v-spacer>
                <v-btn flat class="grey lighten-2" :to="'/event/'+card.id">
                  More
                  <v-icon right>arrow_forward</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex md6 xs12 offset-md3 v-if="!events.length <= 0 && !loading">
            <v-btn color="teal"
                   :loading="loadingEvents"
                   @click.native="loader = 'loadingEvents'"
                   :disabled="loadingEvents"
                   block outline >
              Load More Events
              <v-icon right light>update</v-icon></v-btn>
          </v-flex>
          <v-flex md6 xs12 offset-md3 v-if="events.length <= 0 && !loading">
            <div class="text-xs-center grey--text darken-4 mt-5">
              <v-icon disabled x-large class="not-found-icon">sentiment_very_dissatisfied</v-icon>
              <p class="not-found-text" >No events found!</p>
            </div>
          </v-flex>
        </v-layout>
      </v-slide-y-transition>
    </v-container>
</template>
<script>
  import ShareLikeBtns from './partials/ShareLikeBtns.vue'
  export default {
    components: {
      ShareLikeBtns
    },
    data () {
      return {
        loader: null,
        loadingEvents: false
      }
    },
    computed: {
      events () {
        return this.$store.getters.loadedEvents
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null
      }
    }
  }
</script>
<style scope>
  .not-found-icon{
    font-size: 6em !important;
  }
  .not-found-text{
    font-size: 3em;
  }
</style>
